
.btn-frame{background-color:#056CC5;
border-radius:0px;
border-color:white;
color:white;
padding:10px;
text-decoration:none;
border}

#footer .center{
	width:500px !important;
	padding:5px;
}
/* nuevos estilos 09/10/2020 */
.header {
	max-width: 100% !important;
	max-height: 666px;
	background-image: linear-gradient(
		#ffff,
	#ffff,#ffff), url(img/finanzas2.jpg)!important;
	background-repeat: no-repeat;
	background-size: cover ;
	background-attachment: fixed;
	margin: auto;
}
/*FONDO*/
body {
	background-size: cover !important;
	background-attachment: fixed;

}
.menu nav ul {
	width: 70%;
}

.menu nav ul li, #superior nav ul li{
	font-size: 12px;
	font-weight: 500;

}

dl, ol, ul {
  margin-bottom: auto !important;
}
.topline {
	display: none;
}
/*LOGO COMPRAS*/
#logo{
	float: left !important;
	margin-left: 50px!important;
	margin-right: 0px !important;
	width: 50%;
}
#logo a img {
	width: 200px;
}

/*LOGO CIDI*/
#logo .logosgob {
	float:right !important;
	width: 200px;
	width: 50%;
}
.header .logosgob img {
		background-color: white;
		border-radius: 5px;
}
.header .logosgob img {
	width: 125px !important;
	margin-right: 150px;
	margin-left: 50px;

}
.header .logosgob {
	margin:auto !important;
}

/*NAVEGADOR*/
nav {
	text-align: center;
}
 nav ul {
 	display: inline-block !important;
 }


.menu {
	float:right !important;
background-image: linear-gradient(
	#00000030,
#00000017,#01020229);
	width: 100%;
	padding: 5px !important;
	border-radius: 2px;

}

.menu .menu-item {
	width: 19% !important;
	margin: 1px !important;
	text-align: center;
	font-size: 14px;
}

.menu .menu-item:hover {
	background-color: #4598ca94 !important;
	transition: 0.2s;


}
.menu .menu-item a:hover {
	background-color: #4598ca94 !important;
	transition: 0.2s;

	color: white!important;

}

.menu nav ul li a, #superior nav ul li a{
	background: transparent !important;
	color: black !important;
	font-weight:bold;
}

.menu nav ul li.colorCW a, #superior nav ul li.colorCW a {
	background: transparent !important;
}
.menu nav ul li.color0 a, #superior nav ul li.color0 a {
	background: transparent !important;

}
.menu nav ul li.color0 a:hover {
	background-color: #4598ca94 !important;
	transition: 0.2s;
	color: white !important;


}

.color0 {
	background: transparent !important;

}

.menu nav ul li a:hover:after {
background: #020202e6 !important;
display: none;
}

/*BTN BUSCADOR*/
.header .search-form{
	display: inline-block !important;
	top: auto !important;
	margin-right: 20px;
}

.header .search-form .btn-buscar {
	float:inherit !important;
	padding: 20px!important;
	border-radius: 5px;
	width: 50px;
	background-color: #4598ca;
	background-image: url(/img/btn-buscar.png) !important;
	background-size: contain;
	background-position: center;
	text-align: center;
}

.header .search-field {
	border-radius: 5px;
	right: auto !important;
}




/*MEDIAS QUERY*/

@media (max-width: 900px) {

	.menu .menu-item {
		font-size: 12px;
		font-weight: 600;
	}

	.menu nav ul {
		width: 100%;
	}

}

@media (max-width: 650px) {

	.menu nav ul li a, #superior nav ul li a{
		font-size: 16px;
		line-height: 20px;
		min-height: auto !important;

	}
.sub-principal nav ul li a span{
	font-size: 22px;
}
	.menu-clase {
  }
	#logo {
		width: 100% !important;
		text-align: left !important;
		margin-left: auto!important;

	}

	#logo a img {
		width: 100%;
		padding: 40px;

	}

	#logo img {
		margin-left: 0%;

	}

.header .logosgob{
	width: 100%;
}
	.header .logosgob img {
		margin-top: 0px;
    margin-right: 0px;
    margin-left: 34%;
    margin-bottom: 50px
	}
	.menu .menu-item {
		width: 100% !important;
		text-align: center;
		margin: 1.25% 1.25%;
	}

	.menu .menu-item a:hover {
		background-color: #53aae0a6 !important;

	}
	.menu nav ul li a:hover:after {
	background: #020202e6 !important;
	padding: auto !important;
width: 20px;
}

.videohome {
	height: auto!important;
}
.flexslider .slides .caption {
	width: 100% !important;
	margin: 0px;
}
}

@media (min-width: 1400px) {
  .menu {
  }

}

/*FIN DEL HEADER*/

/*INICIO DEL BODY*/




/*SLIDER*/

.metro-layout {

width: 100% !important;
max-width: none;
margin: 0 auto 0 auto;
}

ul.flex-direction-nav {
display: none;
}

.flexslider .slides img {
	margin: 0px !important;
	width: 100% !important;

}

.flexslider .slides .caption{
	width: 80% !important;
	position: relative;
	margin-bottom: 20px;

}
.slide {
	width: 100% !important;
	margin: auto !important;
}
.videohome {
	width: 100% !important;
	height: 200px;
}
.videohome img{
}
 /**/

 .flex-control-nav{
	bottom: 0px !important;
 }


.flex-control-nav li a{
	background: white ;
	    width: 20px;
	    height: 20px;
			border-radius: 20px;
			-webkit-box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
		-moz-box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
		box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
}

 .flex-control-nav li a.flex-active {
 	background: #D37E32 !important;
  border: 2px solid white;
	transition: 1s;

 }
.flex-control-nav li a:hover{
	background: #D37E32 !important;
  border: 2px solid white;
	transition: 1s;
}

.caption {
padding: 7px !important;
	background-color: #fffffff2;
	-webkit-box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
-moz-box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
	border-radius: 5px;
	text-align: center !important;
}
.slides .vermas{
	width: 100%;
}
.slides .vermas :hover{
	background-color: white!important;
	color: #D37E32 !important;
	border: 2px solid #D37E32;

}
.slides .vermas a{
	background: #D37E32;
	border: 2px solid white;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
-moz-box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.35);
}
.flexslider .slides .descri {
	padding-right: 20px;
}



/*SUBMENÚ*/
.sub-principal nav ul{
	float: none !important;
	width: 80% !important;
}
	.sub-principal nav ul li {
		width: 33% !important;
		margin-bottom: 10px;
		padding: 11px;
		margin-left: auto !important;
	margin-right: auto !important;

}

	.sub-principal nav ul li a{
		height: 300px  !important;
		border-radius: 2px;
		-webkit-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.75);
color: #29abe3bd !important;
font-size: 15px;
padding: 0px !important;



	}

	.sub-principal nav ul li a span {
		color: white;
		width: 100%;
		height: 100%;
		padding-top: 30%;
		font-size: 25px;
		line-height: 25px;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.sub-principal nav ul li.amarillo a{
	background-image: /* linear-gradient(
	       #53AAE0,
	       #53AAE0), */url(img/1.jpeg);
	background-size: cover;

	}

	.sub-principal nav ul li.azul a{
		background-image:/* linear-gradient(
		       #53AAE0,
		       #53AAE0), */ url(img/2.jpeg);
		background-size: cover;
	}

	.sub-principal nav ul li a{
		background-image:/* linear-gradient(
		       #53AAE0,
		       #53AAE0), */ url(img/3.jpeg);
		background-size: cover;
	}

	.sub-principal nav ul li.verde a{
		background-image:/* linear-gradient(
		       #53AAE0,
		       #53AAE0), */ url(img/4.png);
		background-size: cover;
	}

.sub-principal nav ul li a:hover{
	transition: 2s !important;

}

	.sub-principal nav ul li a:hover:after {
    background:linear-gradient(
			#53aae000,
	 #4598cac7,#4598cac7);
    border-radius: 2px;
    bottom: 0px;
    color: #fff;
    content: attr(title);
    left: 0%;
		padding: 50px;

    position: absolute;
    z-index: 98;
    width: 100%;
		height: 55%;
    line-height: 15px;
    font-size: 14px;
    font-family: 'droid_sansregular';
    letter-spacing: 1px;
}

.sub-principal nav ul li.amarillo a {
	border-bottom-color: #53AAE0;
}
.sub-principal nav ul li a {
	border-bottom-style: ridge ;
	border-bottom-color: #53AAE0;
}
.sub-principal nav ul li.azul a {
	border-bottom-color: #53AAE0;
}
.sub-principal nav ul li.verde a {
	border-bottom-color: #53AAE0;
}
 /*mediaquery*/


@media (max-width:1000px) {
  .sub-principal nav ul li {
  	width: 50% !important;
  }

	/*fin mediaquery submenu*/

}
@media (max-width: 650px) {
  .sub-principal nav ul li {
  	width: 100% !important;
  }

	.sub-principal nav ul li a:hover:after {
    background:linear-gradient(
			#53aae000,
	 #4598cac7,#4598cac7);
    border-radius: 2px;
    bottom: 0px;
    color: #fff;
    content: attr(title);
    left: 0%;
		padding: 50px;

    position: absolute;
    z-index: 98;
    width: 100%;
		height: 55%;
    line-height: 20px;
    font-size: 15px;
    font-family: 'droid_sansregular';
    letter-spacing: 1px;
}

.sub-principal nav ul li a {
	height: 450px !important;
}

.flexslider .slides .caption{
	width: 100% !important;
}

}

/*FIN SUBMENÚ*/

/*INICIO FOOTER*/

#footer {
	-webkit-box-shadow: 0px -15px 26px -6px rgba(0,0,0,0.38);
-moz-box-shadow: 0px -15px 26px -6px rgba(0,0,0,0.38);
box-shadow: 0px -15px 26px -6px rgba(0,0,0,0.38);

background-image: linear-gradient(
	#010304,
#050c10,#0c1f2b), url(img/.png);
background-size: cover;
padding-top: 0px;

}

#footer .subfooter {
	background: none ;
}

#footer li a {
  color: white !important;
}


.subfooter .container {
	max-width: none;
	width: 100%;


}
#footer .logosfooter {
	height: auto;
}
.compras_footer{
background: #00000052;
}
.logosfooter .logo {
	display: none;
}

.logosfooter .panal {
	display: none;
}

#footer .center {
	width: 100% !important;
	height: auto;
}
.logosgob {
	display:flex;
}
.footer1 {
	width: 18%;
}
.footer2 {
	width: 28%;
	line-height: 10px;

}
.footer3 {
	width: 30%;

}

.footer4 {
	color: white;
	line-height: 25px;
}
.irtop a {
	background-color: white;
	height: 15px !important;
	width: 15px;
	border-radius: 2px;
	padding: 7px;
	}

.textwidget{
	color: white;
	width: 100%;
}
/*mediaquery*/
@media (max-width: 800px) {

	.logosgob {
		display:block;
	}
	.footer1 {
		width: 100%;
	}
	.footer2 {
		width: 100%;
	}

	.footer3 {
		width: 100%;

	}


}
/*fin mediaquery footer*/

/*FIN FOOTER*/
/*RESUMEN EJECUTIVO*/
.resumenejecutivo {
  background-color: #00000014;
}
.counter h2{
  color: #267cad;
}


/*FIN RESUMEN ejecutivo*/
